

/* Archivo css estilos para la página Tema3.html correspondiente a la práctica E1 de Rafael Glez Francisco */
*{
    font-family: 'Poppins', sans-serif;
}

body{
	background-color: #E3EBEF;
	margin-left: 3em;
    margin-right: 3em;
}

li{
	color:#527C9D;
}

a{
	text-decoration:none;
}

a:link {
  color:#527C9D;
}

a:visited {
  color:#527C9D;
}

a:hover {
  color:#1E4461;
}

a:active {
  color:#1F3546;
}

.parrafo_elementos{
	color:#fff;
	background-color:#206D80;
	font-weight: 200;
}

p.parrafo_elementos b{
	font-weight: 400;
	color: #ED3737;
	margin-left: 0;
	margin-right: 0;
}



form input, textarea{
	background-color: #A8CBEB;
	color:#FFFFFF;
	width: 50%;
}

form button{
	background-color: #A8CBEB;
	color:#FFFFFF;

}
form label{
	margin-left:3em;
	margin-right:1em;
}


