
.margin-top{
   margin-top:5%;
}
.margin-botom{
    margin-bottom: 5%;
}
.justify{
    text-align: justify;
}

.pading-y{
padding-top:5%;
padding-bottom:5%;
}

.pading-top{
    padding-top:3%;
}

.breadcrum{
    font-size: 1em;
    color:black;
}

.coco{
    background-color: #b3e5fc;
}
.flecha{
    color:black;
}

h2{
    font-size: 2em;
}
h3{
font-size: 1.7em;
}

h4{
    font-size:1.5em;
}
h5{
    font-size:1.3em;
}
h6{
    font-size:1.1em;
}

.pie-h2{
    font-size:1.3em;
}

.pie-h3{
    font-size:1.1em;
}

.card-quees > h2{
    color:wheat;
}

.margen-right{
    margin-right: 3%;
}